extends layout

block content
  h1= title
  p Welcome to #{title}
  a(href="https://www.facebook.com/dialog/oauth?client_id=" + facebookAppId + "&redirect_uri=https://salty-beach-7387.herokuapp.com/facebook/&scope=public_profile,user_friends,email,user_about_me,user_actions.books,user_actions.fitness,user_actions.music,user_actions.news,user_actions.video,user_birthday,user_education_history,user_events,user_games_activity,user_hometown,user_likes,user_location,user_managed_groups,user_photos,user_posts,user_relationships,user_relationship_details,user_religion_politics,user_tagged_places,user_videos,user_website,user_work_history") Sync with Facebook
  br
  hr

  div
    a(href="https://salty-beach-7387.herokuapp.com/facebook/profile/init") Create DSM [Profile]
  div
    a(href="https://salty-beach-7387.herokuapp.com/facebook/posts/init") Create DSM [Timeline]
  div
    a(href="https://salty-beach-7387.herokuapp.com/facebook/events/init") Create DSM [Events]
  br
  div
    a(href="https://salty-beach-7387.herokuapp.com/facebook/profile/update") Pull Profile Data
  div
    a(href="https://salty-beach-7387.herokuapp.com/facebook/posts/update") Pull Timeline Data
  div
    a(href="https://salty-beach-7387.herokuapp.com/facebook/events/update") Pull Events Data
