@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:100,200,300,500);

* {
  box-sizing: border-box;
}
body {
  font-family: 'Source Sans Pro', sans-serif;
  background-color: #eeeeee;
  color: #eeeeee;
  font-weight: 300;
}
body ::-webkit-input-placeholder {
  /* WebKit browsers */
  font-family: 'Source Sans Pro', sans-serif;
  color: rgba(255, 255, 255, 0.8);
  font-weight: 300;
}
body :-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  font-family: 'Source Sans Pro', sans-serif;
  color: rgba(255, 255, 255, 0.8);
  opacity: 1;
  font-weight: 300;
}
body ::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  font-family: 'Source Sans Pro', sans-serif;
  color: rgba(255, 255, 255, 0.8);
  opacity: 1;
  font-weight: 300;
}
body :-ms-input-placeholder {
  /* Internet Explorer 10+ */
  font-family: 'Source Sans Pro', sans-serif;
  color: rgba(255, 255, 255, 0.8);
  font-weight: 300;
}

.wrapper {
  background: linear-gradient(#b62c4c, #c64237);
  position: absolute;
  top: 15%;
  left: 10%;
  width: 80%;
  height: 70%;
  overflow: hidden;
  border-radius: 3px;
}

.container {
  max-width: 80%;
  margin: 0 auto;
  height: 90%;
  text-align: center;
}

.container h1 {
  font-size: 3em;
  font-weight: 100;
  color: #eeeeee;
  margin: 5% 0;
}

.container p.plug-info {
  margin-bottom: 3%;
}

.form {
  padding: 20px 0;
  position: relative;
}

.form input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  outline: 0;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background-color: rgba(255, 255, 255, 0.1);
  width: 100%;
  border-radius: 3px;
  padding: 10px 15px;
  margin: 0 auto 4% auto;
  display: block;
  text-align: center;
  font-size: 1em;
  font-family: 'Source Sans Pro', sans-serif;
  color: black;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  font-weight: 300;
}

.form input:hover {
  background-color: rgba(255, 255, 255, 0.4);
}

.form input:focus {
  background-color: white;
}

.plug-button-wrapper {
  margin-top: 7%;
}

.container .actions {
  margin: auto;
  width: 30%;
}

.container .plug-button {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 1.25em;
  font-weight: 200;
  font-family: 'Source Sans Pro', sans-serif;
  cursor: pointer;
  color: white;
  text-decoration: none;
}
.container .plug-button:hover {
  background-color: rgba(255, 255, 255, 0.4);
  border: 1px solid rgba(255, 255, 255, 0.6);
  font-weight: bold;
}

input[type='checkbox'].pseudo-checkbox + label:before,
input[type='checkbox'].pseudo-checkbox + label:after{
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

input[type='checkbox'].pseudo-checkbox + label:before {
  content: "\e157";
}

input[type='checkbox']:checked.pseudo-checkbox + label:before {
  content: "\e067";
}