<layout-use("./layout.marko") authenticated=data.hat.authenticated hatDomain=data.hat.domain>
  <layout-put into="container">
    <h2>Plug already set up</h2>

    <p class="plug-info">The data plug for the specified HAT has already been setup. Please, try again later.</p>
  </layout-put>
</layout-use>