extends layout

block content
  h2 Success!
  p.plug-info The Data Plug has been set up to synchronize data between Facebook and your personal HAT. Check RUMPEL in 5 minutes to see the new data records appear.