extends layout

block content
  h1 Done!
  p The Data Plug has been set up to synchronize data between Facebook profile and personal HAT. Check your HAT in 5 minutes to see the new data records appear.