extends layout

block content
  .wrapper
    .container
      h1 Facebook Authorization
      p.plug-info You will be now redirected to Facebook's website to authorize Data Plug's access

      div.plug-button-wrapper
        a.plug-button(href="https://www.facebook.com/dialog/oauth?client_id=" + facebookAppId + "&redirect_uri=" + redirectUri + "&scope=" + fbAccessScope) Authorize Plug with Facebook