extends layout

block content
  .wrapper
    .container
      h1 Facebook Synchronization Options
      p.plug-info Please select categories to be synchronized
      p.plug-info Note: Your profile picture will be synchronized with HAT automatically
      form(name="sync_options", method='post', action="/dataplug/options")
        input(type="checkbox", name="data_source", value="posts")
        | Posts
        br
        input(type="checkbox", name="data_source", value="events")
        | Events
        br
        input(type="checkbox", name="data_source", value="profile")
        | Profile
        div.actions
          input.plug-button(type="submit", value="Synchronize")